$font-family: "Open Sans", sans-serif;
$font-size: 16px;
$color-font: #1f1f1f;
$color-font-light: rgba(31, 31, 31, 0.7);
$color-orange: #f95707;
$color-green: #105720;
$color-background: #f3f7f4;
$button-pill: 100px;
